
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../docs-assets/ico/favicon.png">

    <title>BubbleBurst</title>

    <!-- Bootstrap core CSS -->
    <link href="static/dist/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="static/dist/css/starter-template.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../docs-assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">BubbleBurst</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container">

      <div class="starter-template">
        <h1>Bursting the Bubble for California</h1>
        <p class="lead">Articles relating to <b>Obamacare</b/> that you are unlikely to read.</p>
        <p><b>Pelath on HJR 3, Obamacare and the 2014 Session</b><BR>
Editors note: David Hoppe conducted his interview with Rep. Pelath prior to the start of the 2014 legislative session. To reach Scott Pelath's office, you take an elevator up to the fifth floor of a 1960s era office tower. The building would be completely anonymous, but for the fact that it is the only high-rise in sight.<BR>
<A HREF = "http://www.nuvo.net/indianapolis/pelath-on-hjr-3-obamacare-and-the-2014-session/Content?oid=2744976">http://www.nuvo.net/indianapolis/pelath-on-hjr-3-obamacare-and-the-2014-session/Content?oid=2744976</A></p>
<p><b>Uninsured Connecticut: Obamacare comes to Hartford</b><BR>
In their quest to help people sign up for insurance offered under the federal health law, the staff at Charter Oak Health Center have talked to more than 3,000 people. But a few stand out, like the man who was so happy to have insurance -- for $49 a month -- he was shouting on the way out.<BR>
<A HREF = "http://www.ctmirror.org/story/2014/01/13/uninsured-connecticut-obamacare-comes-hartford">http://www.ctmirror.org/story/2014/01/13/uninsured-connecticut-obamacare-comes-hartford</A></p>
<p><b>Conservatives Want Transparency in Discussing Obamacare Alternatives</b><BR>
"Conservative members of Congress vowed today to be transparent in their discussions as they build their alternative to Obamacare in 2014. ""How to you set a vision and reality if you don't actually bring them to the floor?"" Representative Tim Huelskamp (R-KS) said, urging fellow members to not be afraid of presenting their ideas and waiting like they did in the past."<BR>
<A HREF = "http://blog.heritage.org/2014/01/15/house-conservatives-want-transparency-discussing-obamacare-alternatives/">http://blog.heritage.org/2014/01/15/house-conservatives-want-transparency-discussing-obamacare-alternatives/</A></p>
<p><b>"Video: ""Jimmy Kimmel Live"" on how ObamaCare hoses young adults"</b><BR>
Via Newsbusters and Ace, who's spot on about what makes this noteworthy. It's not the novelty of a late-night show goofing on ObamaCare. That's not novel; Leno does it every day. The novelty lies in a show aimed at younger adults emphasizing that Democratic welfare programs do in fact have winners and losers, and more often than not Kimmel's audience is on the wrong side.<BR>
<A HREF = "http://hotair.com/archives/2014/01/15/video-jimmy-kimmel-live-on-how-obamacare-hoses-young-adults/">http://hotair.com/archives/2014/01/15/video-jimmy-kimmel-live-on-how-obamacare-hoses-young-adults/</A></p>
<p><b>Two Men and a Truck explains how ObamaCare will hurt its growth</b><BR>
"Image Credit: Two Men and a Truck ""It's going to limit our ability to expand the business."" You've probably heard of Two Men and a Truck. Despite what it's light-hearted name suggests, Two Men and a Truck is a huge and growing company that provides moving services throughout the country."<BR>
<A HREF = "http://www.caintv.com/two-men-and-a-truck-explains-h">http://www.caintv.com/two-men-and-a-truck-explains-h</A></p>
<p><b>Coming Soon: Higher Obamacare Premiums</b><BR>
A follow-up to my Obamacare post from yesterday: The law's adverse selection problem doesn't just inflame the risk of a market death spiral. It also all but guarantees that next year's expected premium hikes will be worse than anticipated for millions.<BR>
<A HREF = "http://townhall.com/tipsheet/guybenson/2014/01/15/coming-soon-higher-obamacare-premiums-n1779028">http://townhall.com/tipsheet/guybenson/2014/01/15/coming-soon-higher-obamacare-premiums-n1779028</A></p>

      
      </div>

    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
  </body>
</html>
